a{
    text-decoration: none;
    color: black;
    &:link{
        text-decoration: none;
    }
    &:visited{
        text-decoration: none;
    }
}

.bold{
    font-weight: 700;
}

.bolder{
    font-weight: 800;
}