$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-background: rgb(250, 245, 245);
$font-primary: 'Roboto';
$font-secondary: 'Shrikhand';
$color-footer-background: #3a3838;
$color-darken-text: rgba(255, 255, 255, 0.822);
$color-lighten-text: rgb(104, 102, 102);