.restaurant-img{
    img{
    width: 100vw;
    height: 330px;
    object-fit: cover;
    object-position: center;
    }
}


.restaurant{
    background-color: $color-background;
    position: relative;
    margin-top: -60px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    padding: 15px 10px 50px 10px;
    &__name{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        h1{
            font-family: $font-secondary;
            font-size: 27px;
            font-weight: normal;
            padding-left: 5px;
        }
    }
    &__heart{
        padding-right: 35px;
    }
}

.menu{
    padding-bottom: 30px;
    h2{
        font-size: 18px;
        color: $color-lighten-text;
        font-weight: normal;
        margin-bottom: 2px;
    }
    &__dish{
        display: flex;
        justify-content: space-between;
        background-color: white;
        @include block-shadow;
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 0px 15px 0px 10px;
    }
    &__dish-desc{
        width: 290px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        h3{
            margin-top: 10px;
            margin-bottom: 0px;
            font-size: 19px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            +p{
                margin-top: 3px;
                margin-bottom: 5px;
                font-size: 16px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }    
    }
    &__price{
        margin-bottom: 0;
        line-height: 50px;
    }
}