.footer-container{
    background-color: $color-footer-background;
    color: white;
    padding: 2px 0px 7px 15px;
    &__title{
        font-family: $font-secondary;
        font-weight: normal;
    }
    &__menu{
        padding-left: 0;
        li{
            list-style: none;
            padding-bottom: 7px;
            a{
                color: white;
            }
        }
    }
}


.footer-container__icon-design{
    margin-right: 20px;
    display: inline-block;
    width: 1px;
    i{
        font-size: 11px;
    }
}