.header-page{
    padding: 20px 0px 10px 0px;
    text-align: center;
    position: relative;
    a{
        position: absolute;
        left: 22px;
        top: 22px;
        i{
            font-size: 19px;
        }
    +img {
        width: 150px;
        }
    }
}